aside.column#recentBox
    div.box.is-radiusless
        | {{ with .Recent }}
        each _,_ in .
            div
                a.has-text-weight-semibold(href='/w/{{.Title}}') {{.Title}}
                time.is-block {{.Date}}
        | {{ end }}